<div class="big">
    <form [formGroup]="signinForm" (ngSubmit)="signIn()">
        <div class="container c1">
            <h1 class="logotxt">Logo</h1>
            <div class="row r1">
                <div class="col-md-6 col1">
                    <p class="signin">SIGN IN</p>
                </div>
                <div class="col-md-6 col2">
                    <div class="gitem">
                        <label for="email" class="form-label">Email ID</label><br>
                        <input formControlName="email" type="email" class="form-control">
                        <span class="text-danger"
                            *ngIf="signinForm.controls['email'].dirty && signinForm.hasError('required','email')">Email
                            is
                            required</span>
                    </div>
                    <div class="gitem">
                        <button class="loginbtn">Log In </button>
                    </div>
                    <div class="gitem">
                        <hr>
                        <p style="text-align:center ;">OR</p>
                        <hr>
                    </div>
                    <div class="gitem">
                        <button class="googlebtn" (click)="signInWithGoogle()"><img src="../../assets/googleicon.png"
                                alt=""> Log in with Google</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>