<form [formGroup]="signinForm" (ngSubmit)="signIn()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <label for="email" class="form-label">Email ID</label><br>
                <input formControlName="email" type="email" class="form-control">
                <span class="text-danger"
                    *ngIf="signinForm.controls['email'].dirty && signinForm.hasError('required','email')">Email is
                    required</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button>Log In </button>
            </div>
        </div>
    </div>
</form>