<div class="container">
    <h1 class="userhead">
        <div>
            Logo
        </div>
        <div>
            <img src="../../assets/user.png" alt="user">
        </div>
    </h1>
    <div class="row">
        <div class="col-md-2">
            <img src="../../assets/blue_arrow_left.png" alt="back">
        </div>
        <div class="col-md-8 flex">
            <div>User Details</div>
            <button type="button" class="btn btn-outline-primary">Edit</button>
        </div>
    </div>
    <div class="row flex2">
        <img src="../../assets/user.png" alt="user" class="edituserimg">
        <img src="../../assets/edit.png" alt="edit" class="editimg">
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="grid">
                <div class="gitem">
                    <label class="g1l1">First Name</label><br>
                    <input type="text" placeholder="Name">
                </div>
                <div class="gitem">
                    <label class="g1l1">Last Name</label><br>
                    <input type="text" placeholder="Surname">
                </div>
                <div class="gitem">
                    <label class="g1l1">Gender</label><br>
                    <div class="dropdown-center">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Male
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Male</a></li>
                            <li><a class="dropdown-item" href="#">Female</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gitem">
                    <label class="g1l1">Email</label><br>
                    <input type="text" placeholder="abc@gmail.com">
                </div>
                <div class="gitem">
                    <label class="g1l1">Date of Birth</label><br>
                    <input type="text" placeholder="10/07/2022">
                </div>
                <div class="gitem">
                    <label class="g1l1">Phone</label><br>
                    <input type="text" placeholder="
                    +91 00000 000000">
                </div>
                <div class="gitem loc">
                    <h4>Location</h4>
                </div>
                <div class="g2item">
                    <label>Street</label>
                    <input type="text" placeholder="410 -OM GURUDEV">
                </div>
                <div class="g2item">
                    <label>City</label>
                    <input type="text" placeholder="Indore">
                </div>
                <div class="g2item">
                    <label>State</label>
                    <input type="text" placeholder="M.P">
                </div>
                <div class="g2item">
                    <label>Country</label>
                    <input type="text" placeholder="India">
                </div>
                <div class="gitem savebtn">
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>