<form [formGroup]="createpostForm" (ngSubmit)="onPostClick()">
    <div class="card text-center">
        <div class="card-header ch1">
            <div>Create a post</div>
            <div>Exit</div>
        </div>
        <div class="card-body">
            <p class="card-text" id="demotext"><img src="../../assets/user.png" alt="user" width="20px">{{firstName}}
                &nbsp;{{lastName}}
            </p>
        </div>
        <div class="form-floating">
            <input formControlName="text" class="form-control" placeholder="Leave a comment here" id="text" />
        </div>
        <div class="card-footer text-muted">
            <label for="photo-upload">
                <input formControlName="image" type="file" id="photo-upload" accept="image/*">
                <img src="../../assets/galleryimg.png" alt="gallery" width="20px">
            </label>
            <button (click)="onPostClick()">Post </button>
        </div>
    </div>
    <div class="hide" formControlName="owner">{{id}}</div>
    <input type="text" formControlName="tags">
</form>