<div class="container ">
    <div class="row r1">
        <div class="col-md-4">
            <h1>Logo</h1>
        </div>
        <div class="col-md-4">
            <input class="searchbox" type="text" placeholder="Search..."><img class="searchimg"
                src="../../assets/search.png" alt="">
        </div>
        <div class="col-md-4">
            <img src="../../assets/user.png" alt="user">
        </div>
    </div>

    <div class="grid">
        <div class="gitem">
            <img src="../../assets/user.png" alt="">
            <input type="text" name="" id="startpost" placeholder="Start a Post in this Group"><br>
            <img class="galleryimg" src="../../assets/galleryimg.png" alt="">
            <button (click)="onCreatePostClick()">Photo</button>
        </div>
        <div class="gitem">
            <img src="../../assets/user.png" alt="">
            <h5 class="username">Amer Kayyal</h5>
            <br>
            <p>Thats Ashthetic !</p>
            <img src="../../assets/demopost.jpeg" alt="" width="100%">
            <img src="../../assets/like.png" alt="" width="15px">
            <p class="likename">Name Surname</p>
            <div class="likecomm">
                <div>
                    <img class="likeimg" src="../../assets/like.png" alt="">
                    <p>Like</p>
                </div>
                <div>
                    <img class="commimg" src="../../assets/comment.jpeg" alt="">
                    <p>Comment</p>
                </div>
            </div>
        </div>
    </div>


</div>