.r1{
    margin-top: 2rem;
}
.searchbox{
    width: 85%;
    padding: 2%;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border: none;
}
img.searchimg {
    margin-left: -10%;
}
.grid{
    display: grid;
    margin-left: 34%;
    width: 27%;
    gap: 5%;
}
input#startpost {
    width: 85%;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border: none;
    padding: 1%;
}
img.galleryimg {
    width: 35px;
}
.gitem{
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.username{
        font-size: 1.25rem;
        margin-top: -31px ;
        width: fit-content;
        margin-left: 16%;
    
}
.likecomm{
    display: flex;
    gap: 15%;
}
.likeimg{
    width: 30px;
}
.commimg{
    width: 48px;
}
.likename {
    margin-top: -19px;
    font-size: 10px;
    margin-left: 18px;
}