<div class="container ">
    <div class="row r1">
        <div class="col-md-4">
            <h1>Logo</h1>
        </div>
        <div class="col-md-4">
            <input class="searchbox" type="text" placeholder="Search..."><img class="searchimg"
                src="../../assets/search.png" alt="">
        </div>
        <div class="col-md-4">
            <img src="../../assets/user.png" alt="user">
        </div>
    </div>

    <div class="grid">
        <div class="gitem">
            <img src="../../assets/user.png" alt="">
            <input type="text" name="" id="startpost" placeholder="Start a Post in this Group"><br>
            <img class="galleryimg" src="../../assets/galleryimg.png" alt="">
            <button (click)="onCreatePostClick()">Photo</button>
        </div>
    </div>


</div>