<div class="big">
    <div class="container c1">
        <h1 class="logotxt">Logo</h1>
        <div class="row r1">
            <div class="col-md-6 col1">
                <p class="welcome">&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;WELCOME <br>TO THE POST WORLD </p>
            </div>
            <div class="col-md-6 col2">
                <button class="btn signin" routerLink="/signin">Sign in</button>
                <button class="btn signup" routerLink="/signup">Sign up</button>
            </div>
        </div>
    </div>
</div>